<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to TITLE, root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Турниры', tournaments_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if log_in? %>
        <li>
          <%= link_to "Выйти", sign_out_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "Войти", '/auth/starladder' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
